.main-footer {
    //estilos
    border-top: 1px solid #efefef;
    margin: 0 2rem;
    padding: 1rem 0.5rem 2rem;
    display: flex;
    justify-content: space-around;

    h2 {
        font-weight: 500;
        font-size: 1.1rem;
    }
}//.main-footer