.main-content {
    position: relative;
    z-index: 1;
    margin: 1rem 0;

    h2 {
        padding: 0 1rem;
        font-size: 2rem;
        line-height: 2rem;
        text-align: center;
        margin: 1rem auto;
    }
}

#modelo3d {
    margin: 1rem auto;
    display: block;
    position: relative;
    z-index: 1;
}//#modelo3d